@import "./themes/colors.scss";

%status-tag {
  &.demande-attente,
  &.devis-attente-rdv {
    background-color: #6b728078 !important;
  }
  &.demande-dispo {
    background-color: $success !important;
  }
  &.demande-rdv {
    background-color: $secondary !important;
  }
  &.devis-abouti-en-rdv {
    background-color: $success !important;
  }
  &.devis-supprime {
    background-color: $error-color !important;
  }
}
