<header>
  <p-card>
    <h1>Vos devis</h1>
  </p-card>
  <div class="w-full flex justify-end my-4">
    <a
      href="demande-devis"
      class="button text-white p-2 px-3 bg-primary rounded-md"
      >Nouveau devis</a
    >
  </div>
</header>
<section>
  <p-tabs value="0">
    <p-tablist>
      <p-tab value="0">Demandes</p-tab>
      <p-tab value="1">Devis</p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="0">
        <app-demande-devis-list
          [data]="demandeDevis$ | async"
          (onFilterChange)="filterData($event)"
        />
      </p-tabpanel>
      <p-tabpanel value="1">
        <p class="m-0">
          <app-devis-list [devis]="listDevis" />
        </p>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</section>
