<section class="list-rdv bg-[#fff] p-8 rounded-xl shadow-md w-[50%]">
  <p class="mb-5">Demande de rendez vous</p>
  <p-table
    [value]="rdvs"
    size="small"
    [scrollable]="true"
    [scrollHeight]="'500px'"
  >
    <ng-template #header>
      <tr>
        <th pFrozenColumn>Vehicule</th>
        <th>Status</th>
        <th>Client</th>
        <th>Date de demande</th>
      </tr>
    </ng-template>
    <ng-template #body let-rdv>
      <tr>
        <td pFrozenColumn class="font-semibold">
          {{ rdv.devis.vehicule.modele }} -
          {{ rdv.devis.vehicule.immatriculation }}
        </td>
        <td>
          <app-rdv-status-chip [rdvStatus]="0"></app-rdv-status-chip>
        </td>
        <td>
          {{ rdv.devis.client.nom }} {{ rdv.devis.client.prenom }} -
          {{ rdv.devis.client.tel || rdv.devis.client.email }}
        </td>
        <td>{{ rdv.dateCreation | date }}</td>
      </tr>
    </ng-template>
  </p-table>
</section>
