<div class="card flex justify-center">
  <p-dialog
    header="Ajouter une tache à cette intervention"
    [modal]="true"
    [(visible)]="visible"
    [style]="{ width: '25rem' }"
    (onHide)="handleClose()"
  >
    <!-- <span class="p-text-secondary block mb-8"
      >Choissir une date pour accepter le RDV.</span
    > -->
    <div class="form my-5" [formGroup]="formGroup">
      <div class="form-group">
        <label for="service">Service</label>
        <p-select
          id="service"
          [options]="(services$ | async) || []"
          optionLabel="nom"
          optionValue="_id"
          placeholder="Choisir un service"
          class="w-full"
          appendTo="body"
          formControlName="service"
        ></p-select>
        <app-validation-error
          [control]="formGroup.controls['service']"
        ></app-validation-error>
      </div>
      <div class="form-group">
        <label for="heure">Estimation</label>
        <br />
        <p-inputnumber
          inputId="integeronly"
          class="w-full"
          formControlName="heure"
        />
        <app-validation-error
          [control]="formGroup.controls['heure']"
        ></app-validation-error>
      </div>
      <div class="form-group">
        <label for="responsable">Assigner à</label>
        <p-autocomplete
          formControlName="responsables"
          inputId="reponsables"
          multiple
          fluid
          [optionLabel]="getResponsableName(users())"
          optionValue="_id"
          [suggestions]="suggestions"
          (completeMethod)="autoComplete($event)"
          placeholder="Assigner responsable"
          forceSelection="true"
          translate="yes"
          lang="fr"
          emptySelectionMessage="Aucune personne sélectionnée"
          (onSelect)="handleSelectResponsable($event)"
          (onUnselect)="handleSelectResponsable($event)"
        >
          <ng-template let-user #item>
            <div class="flex items-center gap-2">
              <p>{{ user.nom }} {{ user.prenom }}</p>
            </div>
          </ng-template>
        </p-autocomplete>
        <div>
          <strong>Sélectionnés</strong>
          <ul class="list-none p-0 m-0 flex flex-col">
            @for (resp of responsables; track resp) {

            <li class="flex items-center gap-2 px-2 py-3 rounded-border">
              <p-avatar
                [label]="resp.nom.charAt(0).toUpperCase()"
                shape="circle"
                class="!bg-primary"
              />
              <div>
                <span class="font-medium"
                  >{{ resp.nom }} {{ resp.prenom }}</span
                >
                <div class="text-sm text-surface-500 dark:text-surface-400">
                  {{ resp.email }}
                </div>
              </div>
            </li>
            }
          </ul>
        </div>
        <app-validation-error
          [control]="formGroup.controls['responsables']"
        ></app-validation-error>
      </div>
    </div>
    <div class="flex justify-end gap-2">
      <p-button label="Annuler" severity="secondary" (click)="handleClose()" />
      <p-button
        label="Accepter"
        (onClick)="handleSubmit()"
        [loading]="loading"
      />
    </div>
  </p-dialog>
</div>
<p-toast></p-toast>
