<div class="head-numbers flex w-full justify-between gap-15 mb-8">
  @if(loadingRecettesData) {
  <p-skeleton
    width="100%"
    height="8rem"
    class="w-[50%] rounded-2xl"
  ></p-skeleton>
  } @else {
  <div class="recettes w-[50%]">
    <app-card-number
      [title]="'Recettes du mois'"
      [value]="recettesOfActualMonth"
      [suffixe]="'MGA'"
      class="block! h-full!"
    ></app-card-number>
  </div>
  } @if(loadingNbrIntervention) {
  <p-skeleton
    width="100%"
    height="8rem"
    class="w-[50%] rounded-2xl"
  ></p-skeleton>
  } @else {
  <div class="intervention w-[50%]">
    <app-card-number
      [title]="'Interventions du mois'"
      [value]="nbrIntervention"
    >
      <span class="text-xs italic mt-2 text-right">
        <p>
          Dont
          <strong class="text-accent"
            >{{ nbrInterventionByAppPercent }}% ({{ nbrInterventionByApp }})
          </strong>
          provient de votre app
        </p>
      </span>
    </app-card-number>
  </div>
  }
</div>

<div class="chart-recettes w-[100%] mb-8 bg-[#fff] p-4 rounded-2xl shadow-md">
  <span>Evolution </span>
  <app-bar-chart
    [labels]="recettesLabels"
    [datasets]="recettesData"
  ></app-bar-chart>
</div>
<div class="flex w-full gap-15 mb-8 justify-between mt-8 flex-wrap">
  @if(loadingTopServiceData) {
  <p-skeleton
    width="100%"
    height="8rem"
    class="w-[50%] rounded-2xl"
  ></p-skeleton>
  } @else {
  <div class="top-services mb-8 bg-[#fff] p-4 rounded-2xl shadow-md">
    <p class="font-bold">Top 5 des services</p>
    <p-table [value]="topServiceData">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th>Services</th>
          <th>Demandes pour la période</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-service let-columns="columns">
        <tr>
          <td>{{ service.nom }}</td>
          <td class="text-right!">{{ service.count }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  } @if(loadingTopClientData) {
  <p-skeleton
    width="100%"
    height="8rem"
    class="w-[50%] rounded-2xl"
  ></p-skeleton>
  } @else {
  <div class="top-clients mb-8 bg-[#fff] p-4 rounded-2xl shadow-md">
    <p class="font-bold">Top 5 des clients</p>
    <p-table [value]="topClientData">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th>Clients</th>
          <th>Interventions pour la période</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-client let-columns="columns">
        <tr>
          <td>{{ client.nom }} {{ client.prenom }}</td>
          <td class="text-right!">{{ client.count }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  }
</div>
