<section
  class="relative h-full flex justify-center md:justify-end items-center client-login"
>
  <div class="absolute w-full h-full bg-red-300 -z-10 background"></div>
  <div class="form-container">
    <div>
      <h1 class="text-center">Garaz'tsika</h1>
    </div>
    <app-login-form
      (onSubmit)="handleLoginSubmit($event)"
      [loading]="loginLoading"
      [defaultValue]="defaultLogin"
      inscriptionUrl="/inscription"
    ></app-login-form>
  </div>
  <p-toast></p-toast>
</section>
