.chip-pending {
  background-color: #1976d2;
  color: #fff;
}
.chip-accepted {
  background-color: #57ac42;
  color: #fff;
}
.chip-deleted {
  background-color: #f44336;
  color: #fff;
}
.p-tag-label {
  font-size: smaller !important;
}
