@if(loadingIntervention()) {
<section
  class="my-8 grid grid-cols-1 md:grid-cols-2 gap-4"
  *hasRole="[ROLES.MANAGER]"
>
  <p-skeleton height="4rem" />
  <p-skeleton height="4rem" />
</section>
<section class="flex flex-row gap-4 flex-nowrap">
  <p-skeleton height="50vh" width="18rem" class="p-4 rounded-md" />
  <p-skeleton height="50vh" width="18rem" class="p-4 rounded-md" />
  <p-skeleton height="50vh" width="18rem" class="p-4 rounded-md" />
</section>
} @else if(intervention()) {
<section class="flex gap-4 flex-col-reverse lg:flex-row">
  <section
    class="flex flex-row gap-4 flex-nowrap relative overflow-x-scroll"
    [class.clip]="loadingTache()"
  >
    @if (loadingTache()) {
    <div class="absolute bg-[#ffffff94] h-full w-full z-10">
      <app-loader [loading]="true" />
    </div>
    } @for (taskGroup of intervention()?.taches; track taskGroup.label) {
    <div
      class="min-w-2xs !box-content bg-[#b281e117] p-4 rounded-md min-h-[100vh]"
    >
      <p class="uppercase">{{ taskGroup.label }}</p>
      <p-divider />
      <div class="flex flex-col gap-y-4">
        @for(task of taskGroup.taches; track task._id) {
        <app-ticket
          [task]="task"
          (onClick)="selectTache($event)"
          class="w-fit"
          [users]="users()"
          (updateStatus)="updateTaskStatus($event)"
          (deleteTache)="deleteTask($event)"
          (assignResponsables)="assignResponsable.emit($event)"
        />
        }
      </div>
    </div>

    }
  </section>

  <section class="md:flex-[25%]">
    <p-accordion>
      <p-accordion-panel value="INTERVENTION" class="my-4">
        <p-accordion-header>Information sur l'intervention</p-accordion-header>
        <p-accordion-content>
          <p><strong>Prévu le: </strong> {{ intervention()?.date }}</p>
          <strong>
            <u>Véhicule:</u>
          </strong>
          <ul>
            <li>
              <strong>Immatriculation: </strong>
              {{ intervention()?.vehicule?.immatriculation }}
            </li>
            <li>
              <strong>Marque: </strong>
              {{ intervention()?.vehicule?.marque }}
            </li>
            <li>
              <strong>Modèle: </strong>
              {{ intervention()?.vehicule?.modele }}
            </li>
            <li>
              <strong>Moteur:</strong>
              {{ intervention()?.vehicule?.motorisation }}
            </li>
          </ul>
        </p-accordion-content>
      </p-accordion-panel>
    </p-accordion>

    <p-accordion *hasRole="[ROLES.MANAGER]">
      <p-accordion-panel value="CLIENT" class="my-4">
        <p-accordion-header>Information sur le client</p-accordion-header>
        <p-accordion-content>
          <p>
            <strong>Nom: </strong>{{ intervention()?.client?.nom || "" }}
            {{ intervention()?.client?.prenom || "" }}
          </p>
          <p>
            <strong>
              <u>Contact</u>
            </strong>
          </p>
          <ul>
            <li>
              <strong>Téléphone: </strong>
              {{ intervention()?.client?.telephone }}
            </li>
            <li>
              <strong>Email: </strong> {{ intervention()?.client?.email }}
            </li>
          </ul>
        </p-accordion-content>
      </p-accordion-panel>
    </p-accordion>
  </section>
</section>

<p-drawer
  [header]="selectedTache?.nom"
  [(visible)]="showDetailsTache"
  position="right"
  styleClass="!w-[90%] md:!w-80 lg:!w-[30rem]"
>
  @if(selectedTache) {
  <app-ticket-details [tache]="selectedTache" />
  }
</p-drawer>

} @else {
<p class="text-center">Intervention introuvable.</p>
}
