<section class="demande-devis-form mx-5">
  <form
    [formGroup]="form"
    class="flex gap-5 justify-between"
    (submit)="onFormSubmit()"
  >
    <div class="vehicule-info m-2 flex flex-col gap-2 w-[40%]">
      <p class="font-semibold underline underline-offset-4">
        Information du véhicule
      </p>
      <div>
        <p-select
          formControlName="vehiculeId"
          [options]="vehicules || []"
          optionLabel="immatriculation"
          optionValue="_id"
          class="w-full"
          placeholder="Choisir un vehicule"
        >
        </p-select>
        <app-validation-error
          [control]="form.controls['vehiculeId']"
        ></app-validation-error>
      </div>
      <app-devis-vehicule-form
        [motorisations]="motorisations"
        [marques]="marques"
        [formVehicule]="form"
      ></app-devis-vehicule-form>
      <div>
        <div>
          <p-checkbox
            inputId="ny"
            value="true"
            (onChange)="onSaveVehiculeChange($event)"
            [disabled]="disableSave"
          />
          <label for="ny" class="ml-2"> Sauvegarder le vehicule </label>
        </div>
        <app-validation-error
          [control]="form.controls['saveVehicule']"
        ></app-validation-error>
      </div>
      <p-button type="submit">
        <app-loader [loading]="loading"> Soumettre la demande </app-loader>
      </p-button>
    </div>
    <div class="demande-description flex flex-col gap-5 w-[40%]">
      <p class="font-semibold underline underline-offset-4">
        Decrivez nous votre demande
      </p>
      <div>
        <textarea
          rows="5"
          cols="30"
          pTextarea
          formControlName="description"
          placeholder="Decrivez votre demande"
        ></textarea>
        <app-validation-error
          [control]="form.controls['description']"
        ></app-validation-error>
      </div>
    </div>
  </form>
</section>
