<section class="vehicule-form" [formGroup]="formVehicule">
  <div class="vehicule-info flex flex-col gap-2 w-full">
    <div>
      <p-select
        formControlName="marque"
        [options]="marques || []"
        optionLabel="nom"
        optionValue="_id"
        placeholder="Choisir une marque"
        class="w-full"
      >
      </p-select
      ><app-validation-error
        [control]="formVehicule.controls['marque']"
      ></app-validation-error>
    </div>

    <div>
      <input
        pInputText
        type="text"
        class="w-full"
        formControlName="modele"
        placeholder="Entre le modele"
      />
      <app-validation-error
        [control]="formVehicule.controls['modele']"
      ></app-validation-error>
    </div>
    <div>
      <input
        pInputText
        type="text"
        class="w-full"
        formControlName="immatriculation"
        placeholder="Entrez le numero d'immatriculation"
      />
      <app-validation-error
        [control]="formVehicule.controls['immatriculation']"
      ></app-validation-error>
    </div>
    <div class="flex gap-3">
      <div class="w-[50%]">
        <p-datepicker
          [iconDisplay]="'input'"
          [showIcon]="true"
          inputId="icondisplay"
          view="year"
          dateFormat="yy"
          formControlName="annee"
          placeholder="Choisir l'année"
          class="w-full"
        />
        <app-validation-error
          [control]="formVehicule.controls['annee']"
        ></app-validation-error>
      </div>
      <div class="w-[50%]">
        <app-loader
          ><p-select
            formControlName="motorisation"
            [options]="motorisations || []"
            optionLabel="nom"
            optionValue="_id"
            placeholder="Choisir un type de moteur"
            class="w-full" />
          <app-validation-error
            [control]="formVehicule.controls['motorisation']"
          ></app-validation-error
        ></app-loader>
      </div>
    </div>
    <div>
      <input
        pInputText
        type="number"
        class="w-full"
        formControlName="kilometrage"
        placeholder="Entre le kilometrage"
      />
      <app-validation-error
        [control]="formVehicule.controls['kilometrage']"
      ></app-validation-error>
    </div>
  </div>
</section>
