.app-container {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: rgba(203, 238, 255, 0.39);
}

.main-content {
  flex: 1;
  overflow-y: auto;
  padding: 30px;
  margin-left: 280px;
  transition: margin-left 0.3s;
  background-color: rgba(203, 238, 255, 0.39);

  &.expand {
    margin-left: 70px;
  }
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 70px;
  }
}

.small-icon {
  font-size: 20px;
}
