<section id="apercu-devis-devis" class="flex flex-col gap-y-4 items-start">
  <div class="w-full flex items-center justify-between flex-wrap">
    @if (devis().status > 0) {
    <p-tag
      class="status-tag !text-white !rounded-full"
      [styleClass]="statusClassname"
    >
      <small>{{ statusLabel }}</small>
    </p-tag>
    } @else {
    <p></p>
    }
    <p>
      <small class="capitalize">{{ devis().date }}</small>
    </p>
  </div>
  <div class="w-full">
    <h5 class="underline">Info sur le véhicule</h5>
    <p><strong>Modèle:</strong> {{ devis().vehicule.modele }}</p>
    <p><strong>N°:</strong> {{ devis().vehicule.immatriculation }}</p>
  </div>
  <div class="w-full">
    <h5 class="underline">Service(s) proposé(s)</h5>
    <ul class="list-disc pl-8">
      @for (service of devis().services; track service) {
      <li>{{ service.nom }}</li>
      }
    </ul>
    <p class="text-right my-4">
      <strong>Total: {{ devis().total.toLocaleString("fr") }} MGA</strong>
    </p>
  </div>
  <p-divider />
  <a [href]="'/app/devis/' + devis()._id" class="text-accent hover:underline"
    >Plus de détails</a
  >

  <div class="w-full flex items-center justify-between flex-wrap gap-y-6">
    @if(devis().status == CREATED && userRole == ROLES.client) {
    <p-button
      severity="primary"
      size="small"
      (onClick)="handleTakeRdv()"
      [loading]="takeRdvLoading"
      >Prendre rendez-vous</p-button
    >
    } @else if(devis().status == WAITING_RDV && userRole == ROLES.manager) {
    <a
      [href]="'/app/rdv?check=' + devis()._id"
      class="text-accent hover:underline"
      >Voir mon calendrier</a
    >
    } @else {
    <p></p>
    } @if(!devis().client._id && devis().status < RDV_DEVIS_STATUS) {
    <p-button
      variant="outlined"
      size="small"
      rounded
      severity="info"
      (onClick)="showDialog()"
      *hasRole="[userRoles.MANAGER]"
    >
      Planifier un rendez-vous
    </p-button>
    }
  </div>
</section>

@if(visible) {
<div class="card flex justify-center">
  <p-dialog
    header="planifier le RDV"
    [modal]="true"
    [(visible)]="visible"
    [style]="{ width: '25rem' }"
    (onHide)="closeDialog()"
    appendTo="body"
  >
    <span class="p-text-secondary block mb-8"
      >Choissir une date pour planifier le RDV.</span
    >
    <div class="flex items-start flex-col mb-6">
      <label for="username" class="font-semibold w-24">Date</label>
      <p-datepicker
        id="username"
        class="flex-auto w-full"
        autocomplete="off"
        appendTo="body"
        [showTime]="true"
        [(ngModel)]="dateRdv"
        [dateFormat]="'dd/mm/yy'"
      />
    </div>
    <p class="my-[20px] text-red-400 text-xs">{{ errors }}</p>
    <div class="flex justify-end gap-2">
      <p-button label="Annuler" severity="secondary" (click)="closeDialog()" />
      <p-button
        label="Accepter"
        (click)="handlePlanifyRdv()"
        [loading]="loadingAcceptRdv"
      />
    </div>
  </p-dialog>
</div>
}
<p-toast></p-toast>
