<section class="demande-container">
  <div class="demande-list" [class.shortened]="selectedDemande">
    <div
      class="w-full py-8 demande-filter flex items-center justify-between flex-wrap gap-y-4"
    >
      <div class="flex items-center gap-4">
        @for (item of data()?.stats; track item) {
        <p-tag
          class="status-filter cursor-pointer !bg-white !text-black border-2 border-secondary"
          (click)="updateFilter({ status: item.value })"
          [styleClass]="filter.status == item.value ? 'selected-filter' : ''"
          >{{ item.label }} : {{ item.count }}</p-tag
        >
        }
      </div>
      <div class="flex items-center gap-1">
        <input
          pInputText
          type="text"
          class=""
          placeholder="N° immatriculation"
          [(ngModel)]="filter.immatriculation"
        />
        <input
          pInputText
          type="text"
          class=""
          placeholder="Client"
          [(ngModel)]="filter.nom"
          *hasRole="[ROLES.MANAGER]"
        />
        <p-button
          variant="outlined"
          severity="help"
          type="submit"
          (onClick)="updateFilter({ immatriculation: filter.immatriculation })"
        >
          <span class="material-icons">search</span>
        </p-button>
      </div>
    </div>
    <app-loader [loading]="!data()" class="flex-1">
      @for (item of data()?.items; track item) {
      <app-demande-devis-item
        [demande]="item"
        (onSelectDemande)="onSelectDemande(item)"
        [isSelected]="selectedDemande?._id == item._id"
      />
      }
    </app-loader>
    <div class="card flex justify-center">
      <p-paginator
        (onPageChange)="onPageChange($event)"
        [first]="first"
        [rows]="rows"
        [totalRecords]="data()?.totalItems || 1"
        [showCurrentPageReport]="true"
        [showPageLinks]="false"
        [showJumpToPageDropdown]="false"
        currentPageReportTemplate="Lignes {first} à {last} de {totalRecords}"
      />
    </div>
  </div>

  @if (selectedDemande) {
  <div class="details-devis" [@detailsAnimation]>
    <p-card>
      <div class="flex justify-between items-center flex-wrap-reverse">
        @if(selectedDemande.idDevis) {
        <a [href]="'/devis/' + selectedDemande.idDevis">
          <p-button size="small" rounded severity="help"
            >Voir la réponse</p-button
          >
        </a>
        } @else {
        <div>
          @if(selectedDemande.status == CREATED_DEVIS_STATUS) {
          <a [href]="'/creation-devis'" *hasRole="[ROLES.MANAGER]">
            <p-button size="small" rounded severity="contrast"
              >Répondre</p-button
            >
          </a>
          }
        </div>
        }
        <button (click)="onSelectDemande(null)" class="cursor-pointer">
          <span class="material-icons"> close </span>
        </button>
      </div>
      <p-divider />
      <app-demande-devis-apercu [demande]="selectedDemande" />
    </p-card>
  </div>
  }
</section>
