<section class="client-form" [formGroup]="formClient()">
  <div class="form-container flex flex-col gap-4">
    <div>
      <input
        formControlName="email"
        type="email"
        pInputText
        class="w-full"
        placeholder="Email"
      />
      <app-validation-error
        [control]="formClient().controls['email']"
      ></app-validation-error>
    </div>
    <div>
      <input
        formControlName="nom"
        type="text"
        pInputText
        class="w-full"
        placeholder="Nom"
      />
      <app-validation-error
        [control]="formClient().controls['nom']"
      ></app-validation-error>
    </div>
    <div>
      <input
        formControlName="prenom"
        type="text"
        pInputText
        class="w-full"
        placeholder="Prenom"
      />
      <app-validation-error
        [control]="formClient().controls['prenom']"
      ></app-validation-error>
    </div>
    <div>
      <input
        formControlName="telephone"
        type="tel"
        pInputText
        class="w-full"
        placeholder="Tel"
      />
      <app-validation-error
        [control]="formClient().controls['telephone']"
      ></app-validation-error>
    </div>
  </div>
</section>
