<div class="cursor-pointer" [class.selected]="isSelected()">
  <div class="devis-header flex items-start justify-between flex-wrap-reverse">
    <div class="devis-title flex items-center justify-center gap-4">
      <h6
        class="text-lg cursor-pointer hover:underline"
        [class.item-hover]="isHovered"
      >
        {{ getMarqueName() }} {{ demande().vehicule.immatriculation }}
      </h6>
      @if (role == ROLES.CLIENT || (role === ROLES.MANAGER && demande().status
      != DISPO_STATUS)) {
      <p-tag
        class="status-tag !text-white !rounded-full"
        [styleClass]="statusClassname"
      >
        <small>{{ statusLabel }}</small>
      </p-tag>
      }
    </div>
    <p>
      <small class="capitalize">{{ demande().dateDemande }}</small>
    </p>
  </div>
  <div class="devis-body flex items-center justify-between">
    <div>
      <small *hasRole="[ROLES.MANAGER]">
        > De: {{ demande().utilisateur?.nom }}
        {{ demande().utilisateur?.prenom }}
      </small>
      <p class="line-clamp-2">
        {{ demande().description }}
      </p>
    </div>
    @if(demande().status == CREATED_STATUS) {
    <a
      [href]="'creation-devis?from=' + demande()._id"
      *hasRole="[ROLES.MANAGER]"
    >
      <p-button variant="text" size="small" rounded severity="info">
        <span class="material-icons !text-[30px]">edit_note</span>
      </p-button>
    </a>
    }
  </div>
  <p-divider />
</div>
