<section id="apercu-demande-devis" class="flex flex-col gap-y-4 items-start">
  <div class="w-full flex items-center justify-between flex-wrap">
    <p-tag
      class="status-tag !text-white !rounded-full"
      [styleClass]="getStatusClassname(demande().status)"
    >
      <small>{{ demande().statusLabel }}</small>
    </p-tag>
    <p>
      <small class="capitalize">{{ demande().dateDemande }}</small>
    </p>
  </div>
  <div>
    <h5 class="underline">Info voiture</h5>
    <p>
      <strong>Marque:</strong> {{ getMarqueName() }} -
      {{ demande().vehicule.modele }}
    </p>
    <p><strong>N°:</strong> {{ demande().vehicule.immatriculation }}</p>
  </div>
  <div>
    <p>
      {{ demande().description }}
    </p>
  </div>
</section>
