<section class="devis-form flex gap-10 flex-col">
  @if(demandeDevisData?.dateDemande && demandeDevisData?.description) {
  <section class="demande-info py-5 px-10 rounded-2xl bg-[#fff]">
    <p><u>Demande du</u> : {{ demandeDevisData?.dateDemande }}</p>
    <p><u>Description</u>: {{ demandeDevisData?.description }}</p>
  </section>

  }
  <section class="flex justify-between gap-5">
    <section class="client-info w-[50%] py-5 px-10 rounded-2xl bg-[#fff]">
      <p class="py-5 font-bold">Informations du client</p>
      <app-client-form [formClient]="formClient"></app-client-form>
    </section>
    <section class="vehicule-info min-w-[50%] bg-[#fff] py-5 px-10 rounded-2xl">
      <p class="py-5 font-bold">Informations du vehicule</p>
      <app-devis-vehicule-form
        [formVehicule]="formVehicule"
        [marques]="marques || []"
        [motorisations]="motorisations || []"
      ></app-devis-vehicule-form>
    </section>
  </section>
  <section class="service-table w-full bg-[#fff] px-10 py-5 rounded-2xl">
    <p class="py-5 font-bold">Choisissez les services</p>
    <p-table
      [value]="servicesForm"
      styleClass="p-datatable-gridlines"
      showGridlines
    >
      <ng-template #header>
        <tr>
          <th class="p-3!">Service</th>
          <th class="p-3!">Prix</th>
          <th class="p-3!">Heures</th>
          <th class="p-3!">Total</th>
          <th class="p-3!">Actions</th>
        </tr>
      </ng-template>
      <ng-template #body let-service let-index="rowIndex">
        <!-- @for(service of servicesForm; track $index; let index = $index) { -->
        <tr>
          <td
            [pEditableColumn]="service.idService"
            pEditableColumnField="service"
            class="max-w-3"
          >
            <p-cellEditor>
              <ng-template #input>
                <p-select
                  [options]="services || []"
                  optionLabel="nom"
                  optionValue="_id"
                  placeholder="Choisir un service"
                  class="w-full"
                  appendTo="body"
                  [(ngModel)]="service.idService"
                  (onChange)="handleServiceChange(service, index)"
                ></p-select>
              </ng-template>
              <ng-template #output>
                {{ service.nom }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td class="max-w-3 text-right!">
            {{ service.prix | currency : "MGA" }}
          </td>
          <td
            [pEditableColumn]="service.heures"
            pEditableColumnField="service"
            class="max-w-3 text-right!"
          >
            <p-cellEditor>
              <ng-template #input>
                <input
                  pInputText
                  type="number"
                  [(ngModel)]="service.heures"
                  required
                  class="w-full"
                />
              </ng-template>
              <ng-template #output>
                {{ service.heures | number : "1.0-2" }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td class="text-right! max-w-3!">
            {{ service.heures * service.prix | currency : "MGA" }}
          </td>
          <td>
            <p-button
              class="suppr-btn"
              size="small"
              severity="danger"
              (onClick)="handeDeleteService(index)"
            >
              <span class="material-icons">delete</span>
            </p-button>
          </td>
        </tr>
        <!-- } -->
      </ng-template>
      <ng-template #footer
        ><tr>
          <td colspan="3" class="font-bold">Total general</td>
          <td class="text-right!">
            {{ getServiceFormTotal() | currency : "MGA" }}
          </td>
          <td></td>
        </tr>
      </ng-template>
    </p-table>
    <!-- <ng-template #footer> -->
    <div class="flex items-center justify-between my-3">
      <p-button size="small" (onClick)="handleAddService()">Ajouter</p-button>
    </div>
    <!-- </ng-template> -->
    <div class="text-right">
      <p-button (onClick)="handleSubmit()" [loading]="loading"
        >Confirmer</p-button
      >
    </div>
  </section>
</section>
<p-toast></p-toast>
