<section class="devis-container">
  <div class="devis-list" [class.shortened]="false">
    <div
      class="w-full py-8 devis-filter flex items-center justify-between flex-wrap-reverse gap-y-4"
    >
      <div class="flex items-center gap-4 flex-wrap">
        @for (item of devis()?.stats; track item) {
        <p-tag
          class="status-filter cursor-pointer !bg-white !text-black border-2 border-secondary"
          (click)="updateFilter({ status: item.value })"
          [styleClass]="filter.status == item.value ? 'selected-filter' : ''"
          >{{ item.label }} : {{ item.count }}</p-tag
        >
        }
      </div>
      <div class="flex items-center gap-1">
        <input
          pInputText
          type="text"
          class=""
          placeholder="N° immatriculation"
          [(ngModel)]="filter.immatriculation"
        />
        <input
          pInputText
          type="text"
          class=""
          placeholder="Client"
          [(ngModel)]="filter.nom"
          *hasRole="[ROLES.MANAGER]"
        />
        <p-button
          variant="outlined"
          severity="help"
          type="submit"
          (onClick)="updateFilter({ immatriculation: filter.immatriculation })"
        >
          <span class="material-icons">search</span>
        </p-button>
      </div>
    </div>
    <app-loader [loading]="!devis()" class="flex-1">
      @for (item of devis()?.items; track item) {

      <app-devis-item
        [devis]="item"
        (onSelectDevis)="onSelectDevis(item)"
        [isSelected]="selectedDevis?._id == item._id"
      />
      }
    </app-loader>
    <div class="card flex justify-center">
      <p-paginator
        (onPageChange)="onPageChange($event)"
        [first]="first"
        [rows]="rows"
        [totalRecords]="devis()?.totalItems || 1"
        [showCurrentPageReport]="true"
        [showPageLinks]="false"
        [showJumpToPageDropdown]="false"
        currentPageReportTemplate="Lignes {first} à {last} de {totalRecords}"
      />
    </div>
  </div>

  @if (selectedDevis) {
  <div class="details-devis" [@detailsAnimation]>
    <p-card>
      <div class="flex items-center justify-between">
        <p-button
          class="flex items-center pdf_btn"
          size="small"
          rounded
          severity="help"
          [loading]="loadingPdf"
          (onClick)="onDownloadPdf(selectedDevis)"
        >
          <span class="material-icons">picture_as_pdf</span>
        </p-button>
        <button (click)="onSelectDevis(null)" class="cursor-pointer">
          <span class="material-icons"> close </span>
        </button>
      </div>
      <p-divider />
      <app-devis-apercu [devis]="selectedDevis" />
    </p-card>
  </div>
  }
</section>
