// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// @use "@angular/material" as mat;
@use "./app/styles/themes/colors.scss" as themeColors;
@import url("https://fonts.googleapis.com/css?family=Inter:700|Mona%20Sans:400");
@import "./import-tailwind.css";

html,
body {
  height: 100%;
  font-size: 0.95rem;
}
body {
  margin: 0;
  font-family: "Mona Sans";
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: 2.442rem; /* 48.8px */
}

h2 {
  font-size: 2rem; /* 39.04px */
}

h3 {
  font-size: 1.954rem; /* 31.2px */
}

h4 {
  font-size: 1.563rem; /* 24.96px */
}

h5 {
  font-size: 1.25rem; /* 20px */
}

small {
  font-size: 0.8rem; /* 12.8px */
}

.align-number {
  text-align: right !important;
}
