@import "../../../../styles/themes/colors.scss";

.tache-a-faire {
  background-color: $error-color;
}
.tache-en-cours {
  background-color: #f5be5a;
}
.tache-termine {
  background-color: $success;
}
.datepicker-container {
  ::ng-deep .p-datepicker {
    width: 100%;
  }
}
