<section
  class="relative h-full flex justify-center md:justify-end items-center bo-login"
>
  <div class="absolute w-full h-full -z-10 background"></div>
  <div class="form-container">
    <div>
      <h1 class="text-center">Garaz'tsika</h1>
      <p class="text-center">Mécanicien - Manager</p>
    </div>
    <app-login-form
      (onSubmit)="handleLoginSubmit($event)"
      [loading]="loginLoading"
      [defaultValue]="defaultLogin"
    ></app-login-form>
  </div>
  <p-toast></p-toast>
</section>
